{% extends "_layout.html" %} {% block content%}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <img
        src="{{image.user_image_url}}"
        alt="Image Donation"
        class="w-50
      mx-auto d-block mb-4"
      />
    </div>
  </div>
  <div class="d-block mt-4 mx-auto mb-4 col-6">
    <form
      id="donation-form"
      method="post"
      action="{{url_for('donations.create',image_id=image.id)}}"
    >
      <h4>Amount</h4>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" id="nonce" name="payment_method_nonce" />
      <input class="mt-4 mx-auto" type="tel" name="amount" id="image_file" />
    </form>
  </div>
  <div id="dropin-container"></div>
  <button id="submit-button" class="btn btn-primary mx-auto d-block mt-4 mb-4">
    Request Payment Method
  </button>
</div>
<script>
  const button = document.querySelector("#submit-button");
  const form = document.querySelector("#donation-form");

  braintree.dropin.create(
    {
      authorization: "{{client_token}}",
      container: "#dropin-container"
    },
    function(createErr, instance) {
      button.addEventListener("click", function() {
        instance.requestPaymentMethod(function(err, payload) {
          // Submit payload.nonce to your server
          document.querySelector("#nonce").value = payload.nonce;
          form.submit();
          // $("#pmn.field").val(payload.nonce);
          // $("#donation-form").submit();
        });
      });
    }
  );
</script>
{% endblock %}
